<style>
.title{
  font-size: 18px; font-weight: bold;
}
</style>
<h1>SHOW</h1>
<br>
<div>
  <span class="title">Name: </span><%= @user.name %>
</div>
<br>
<div>
  <span class="title">Email: </span><%= @user.email %>
</div>
<div class="title"><%= link_to  "Back to index", root_path %></div>
