<%= form_for @micropost do |f|  %>
  <div>
    Content:
    <%= f.text_field :content %>
  </div>
  <div>
    Id user:
    <%= f.text_field :user_id %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
