<%= provide(:title, "About") %>
<h1>About</h1>
<p class="p-about">
The
<i><%= link_to  "Ruby on Rails Tutorial", "https://www.railstutorial.org/" %></i>
is a <span class="span-about">book</span> and <span class="span-about">screencast series</span> to teach web development with <span class="span-about">Ruby on Rails</span>. This is the sample application for the tutorial.
</p>
